.s-btn {
    width: 8.9rem;
    height: 3rem;
    margin-top: 1rem;
}

.s-blur1 {
    top: 65rem;
    left: -15rem;
    background: rgb(240, 229, 78);
}

.s-blur2 {
    top: 14rem;
    left: 15rem;
    background: var(--purple);
}

@media screen and (max-width: 640px) {
    .services {
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

   .cards>*{
    position: static;
    display: flex;
    justify-content: center;
    margin: 1rem;
   }
}