.s-btn {
    width: 8.9rem;
    height: 3rem;
    margin-top: 1rem;
}

.s-blur1 {
    top: 65rem;
    left: -15rem;
    background: rgb(240, 229, 78);
}

.s-blur2 {
    top: 14rem;
    left: 15rem;
    background: var(--purple);
}