.c-blur1 {
    top: 240rem;
    left: -3rem;
    background: #ABF1FF94;
}

.c-blur2 {
    top: 1rem;
    left: 1rem;
    background: var(--purple);
}

.user {
    width: 20rem;
    height: 3rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 5rem!important;
}

.w-btn {
    width: 5rem;
    height: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .c-blur1 {
        top: 330rem;
        left: -3rem;
        background: #ABF1FF94;
    }
    
    .c-blur2 {
        top: 1rem;
        left: 7rem;
        background: var(--purple);
    }
}